.vscode/**
typings/**
**/*.ts
**/*.map
out/**
node_modules/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.vscode-test/**
.travis.yml
appveyor.yml
tslint.json
npm-debug.log
package-lock.json
webpack.config.js
